{% extends "layout.html"%}
{% block content %}
<h1 class="display-3">Branches</h1>
<table class="table">
    <tr>
        <thead>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col">Contact</th>
        </thead>
    </tr>
    {% for item in branches %}
    <tr  scope="row">
        <td><a href="/branch/{{ session_key }}/{{ item.id }}"><{{ item.id }}</a></td>
        <td>{{ item.name }}</td>
        <td>{{ item.location }}</td>
        <td>{{ item.contact }}</td>
    </tr>
    {% endfor %}

</table>
{% endblock content %}